# App
PORT=3333
NODE_ENV=development
FRONTEND_URL=

# Database
DATABASE_URL=

# Keycloak
KEYCLOAK_BASE_URL=
KEYCLOAK_REALM=
KEYCLOAK_CLIENT_ID=
KEYCLOAK_CLIENT_SECRET=
KEYCLOAK_WEB_CLIENT_ID=
KEYCLOAK_JWKS_URI=
KEYCLOAK_ISSUER=http://localhost:8080/realms/crivo

# Stripe
STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRICE_TRIAL=
STRIPE_PRICE_BASIC=
STRIPE_PRICE_PROFESSIONAL=
STRIPE_PRICE_ENTERPRISE=

# Mail
MAILTRAP_HOST=sandbox.smtp.mailtrap.io
MAILTRAP_PORT=587
MAILTRAP_USER= 
MAILTRAP_PASSWORD=